@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.grot {
    font-family: "Space Grotesk";
}

.outf {
    font-family: "Outfit";
}

.rale {
    font-family: "Raleway";
}

.mont{
    font-family: "Montserrat";
}

.intern{
    font-family: "Inter";
}

@keyframes bhop {
    0%, 100% {
        transform: translateY(-25px);
    }
    50% {
        transform: translateY(25px);
    }
}
.bhop {
    animation: bhop 4s infinite;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
  